.signup {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0px 15px;
  height: 560px;
  isolation: isolate;
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        &-image {
          img {
            width: 30px;
            height: 30px;
          }
        }
        font-weight: 700;
        font-size: 17.5px;
        line-height: 20px;
        color: #262626;
      }
      font-weight: 400;
      font-size: 10px;
      line-height: 13.3px;
      text-align: center;
      color: #525252;
    }
    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 27px;
      &-video {
        position: relative;
        filter: drop-shadow(0px 3px 8px #e0e0e0);
        img {
          border-radius: 2.5px;
          width: 230px;
          height: 130px;
        }
        &-card1 {
          position: absolute;
          left: -6px;
          top: 30px;
        }
        &-card2 {
          position: absolute;
          left: -17px;
          top: 56px;
        }
        &-card3 {
          position: absolute;
          left: -6px;
          top: 85px;
        }
        &-card4 {
          position: absolute;
          right: -6px;
          top: 30px;
        }
        &-card5 {
          position: absolute;
          right: -17px;
          top: 56px;
        }
        &-card6 {
          position: absolute;
          right: -6px;
          top: 85px;
        }
      }
      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6.3px;
        width: 100%;
        &-signgoogle {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 6.3px;
          background: #ffffff;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.084),
            0px 1px 1px rgba(0, 0, 0, 0.168);
          border-radius: 2.5px;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 8.75px;
          line-height: 6.25px;
          width: 100%;
          height: 30px;
          color: #525252;
          &-logo {
            width: 21px;
            height: 21px;

            background: #ffffff;
            border-radius: 1px;
          }
          &-signup {
            display: flex;
          }
          &-login {
            display: none;
          }
          &-login.hiden {
            display: flex;
          }
        }
        &-devider {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          font-weight: 400;
          font-size: 6.8px;
          line-height: 8.7px;
          color: #697077;
          &-line {
            width: 110px;
            height: 1px;
            background: #dde1e6;
            border-radius: 100px;
          }
        }
        &-generalbutton {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 6px 9px;

          width: 100%;
          height: 20px;
          background: #0f62fe;
          border: 1px solid #78a9ff;
          box-shadow: 0px 2px 4px rgba(224, 224, 224, 0.3);
          border-radius: 4px;
          font-weight: 400;
          font-size: 8.7px;
          line-height: 13.8px;
          color: #ffffff;
        }
        &-generalbutton.hiden {
          display: none;
        }
        &-signupemail {
          width: 100%;
          display: none;
        }
        &-signupemail.hiden {
          display: flex;
        }
        &-login {
          width: 100%;
          display: none;
        }
        &-login.hiden {
          display: flex;
        }
        &-passwordrecovery {
          width: 100%;
          display: none;
        }
        &-passwordrecovery.hiden {
          display: flex;
        }
        &-footer {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 2.5px;
          font-weight: 400;
          font-size: 8.7px;
          line-height: 13.8px;
          color: #4d5358;
          span {
            color: #0043ce;
          }
        }
      }
    }
  }
  &-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
    &-feedback {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 2.5px;
      font-weight: 400;
      font-size: 8.7px;
      line-height: 13.8px;
      color: #4d5358;
      span {
        color: #0043ce;
      }
    }
    &-version {
      font-weight: 400;
      font-size: 8.7px;
      line-height: 13.8px;
      color: #a2a9b0;
    }
  }
}
