.protip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 82%;
  height: 62.5px;
  background: #ffffff;
  border: 1px solid #dde1e6;
  border-radius: 2.5px;
  position: absolute;
  bottom: 82px;
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13.8px;
    align-self: stretch;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 8.7px;
    line-height: 13.8px;
    color: #697077;
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 8.7px;
    line-height: 13.8px;
    align-self: stretch;
    line-height: 13.8px;
    color: #697077;
    &-link {
      color: #0072c3;
    }

    span {
      font-weight: 400;
      color: #697077;
    }
  }
  &-body {
    position: absolute;
    top: 55px;
    width: 90%;
    display: none;
  }
}
.hidden {
  display: flex;
}
