.fontone {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2px 2.5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #4d5358;
  position: relative;
  width: 100%;
  img {
    display: none;
    padding: 0;
    border: none;
    right: 0px;
    position: absolute;
  }
  &:hover {
    background: #f2f4f8;
    img {
      display: block;
    }
  }
}
.regular {
  font-size: 9px;
  line-height: 11px;
}
.large {
  font-size: 10px;
  line-height: 13.37px;
}
.larger {
  font-size: 12px;
  line-height: 16px;
}
