.cardbutton {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.5px 5px;
  border: 1px solid #dde1e6;
  border-radius: 63px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13.25px;
  color: #0072c3;
}
