.partial {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  height: 19px;
  width: 211.5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 8.7px;
  line-height: 13.8px;
  color: #4d5358;
  &:hover {
    color: #0072c3;
  }
  &-timetitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    &-dot {
      box-sizing: border-box;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: #ffffff;
      border: 1px solid #bae6ff;
      z-index: 1;
    }
    &-text {
      padding: 1px 2.5px;
      background: #ffffff;
      border: 1px solid #dde1e6;
      border-radius: 2.5px;
    }
  }
  &-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.5px 5px;
    gap: 5px;
    border-radius: 2.5px;
    img {
      width: 10px;
      height: 10px;
      display: none;
    }
    &:hover {
      background: #ffffff;
      border: 1px solid #dde1e6;
      img {
        display: block;
      }
    }
  }
}
