.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 330px;
  isolation: isolate;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(224, 224, 224, 0.3);
  border-radius: 4px;
  &-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    &-title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #0043ce;
    }
    &-description {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #4d5358;
    }
  }
  &-image {
    img {
      height: 180px;
      width: 90%;
      padding: 0px 24px;
      border-radius: 4px;
    }
  }
  &-wrapper {
    height: 123px;
    overflow: hidden;
    &-one {
      position: relative;
      height: 126px;
      overflow-y: hidden;
      display: none;
      flex-direction: column;
      padding: 0px;
      gap: 16px;
      justify-content: space-around;
      &-timeline {
        position: absolute;
        width: 4px;
        height: 120px;
        background: #dde1e6;
        top: 10px;
        left: 6px;
        z-index: -1;
      }
    }
    &-two {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      gap: 16px;
      background: #f4f4f4;
      border-radius: 4px;
      width: 90%;
      font-family: 'Roboto';
      font-style: normal;
      color: #4d5358;
      &-introduction {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
      }
      &-partial {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        span {
          padding: 0 8px;
          mix-blend-mode: color-burn;
          border-radius: 4px;
          background-color: #4589ff;
          color: #000;
        }
      }
    }
    &-three {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      background: #f2f4f8;
      border-radius: 4px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #697077;
      width: 90%;
      &-title {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        font-weight: 600;
        justify-content: space-between;
        div {
          .avatarimg {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-left: 8px;
          }
          .dropdownimg {
            width: 20px;
            height: 20px;
            transform: rotate(180deg);
          }
          .dropdownimg.hidden {
            width: 20px;
            height: 20px;
            display: inline;
            transform: none;
          }
        }
      }
    }
  }
}
