.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 15px;
  gap: 20px;
  height: 560px;
  position: relative;
  &-header {
    width: 100%;
  }
  &-footer {
    width: 100%;
  }
}
