.languagedropdown {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 8px;
  gap: 4px;
  width: 65px;
  height: 28px;
  border: 1px solid #dde1e6;
  border-radius: 4px;
  position: relative;
  img.languagedropdown-logo {
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
  }
  img {
    width: 16px;
    height: 16px;
    padding-left: 4px;
    border-left: 1px solid #c1c7cd;
  }
  .box {
    display: none;
  }
  .box.hidden {
    display: block;
  }
}
