.inputanswer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  border-radius: 2.5px;
  &-userprompt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: #f2f4f8;
    border-radius: 2.5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 8.7x;
    line-height: 13.8px;
    color: #697077;
    width: 90%;
    &-title {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      font-weight: 600;
      justify-content: space-between;
      div {
        .avatarimg {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-left: 5px;
        }
        .dropdownimg {
          width: 12.5px;
          height: 12.5px;
          transform: rotate(180deg);
        }
        .dropdownimg.hidden {
          width: 12.5px;
          height: 12.5px;
          display: inline;
          transform: none;
        }
      }
    }
  }
  &-text {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    background: #f4f4f4;
    border-radius: 2.5px;
    width: 90%;
    font-family: 'Roboto';
    font-style: normal;
    color: #4d5358;
    &-userprofile {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      &-avatar {
        width: 35px;
        height: 35px;
        border-radius: 100px;
      }
      &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-name {
          font-weight: 600;
          font-size: 8.7px;
          line-height: 13.8px;
          color: #4d5358;
        }
        &-body {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 4px;
          font-weight: 500;
          font-size: 8.7px;
          line-height: 13.8px;
          color: #697077;
        }
        &-link {
          font-weight: 400;
          font-size: 8.7px;
          line-height: 13.8px;
          color: #0043ce;
        }
      }
    }
    &-partial {
      font-weight: 400;
      font-size: 8.7px;
      line-height: 13.8px;
      span {
        padding: 0 5px;
        mix-blend-mode: color-burn;
        border-radius: 2.5px;
        background-color: #4589ff;
        color: #000;
      }
    }
  }
}
.hidden {
  display: flex;
}
.show {
  display: none;
}
