.footer {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  width: 89%;
  height: auto;
  background: #ffffff;
  border: 1px solid #dde1e6;
  border-radius: 2.5px;
  justify-content: space-between;
  bottom: 12.5px;
  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: auto;
    &-single {
      padding: 2.5px;
      border: 1px solid #dde1e6;
      border-radius: 2.5px;
      img {
        width: 10px;
        height: 10px;
      }
      &:active {
        background: #dde1e6;
      }
    }
    &-input {
      input {
        border: none;
        width: 120%;
        max-height: 125px;
        &:focus-visible {
          outline: none;
        }
      }
    }
    &-avatar {
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 5px 0px;
      gap: 5px;
      width: 125px;
      background: #f2f4f8;
      border-radius: 2.5px;
      &-image {
        width: 12.5px;
        height: 12.5px;
      }
      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        font-size: 8.7px;
        line-height: 13.8px;
        text-align: center;

        color: #4d5358;
        span {
          font-size: 7px;
          line-height: 9px;
        }
      }
    }
  }
  &-inputicon {
    img {
      width: 12.5px;
      height: 12.5px;
    }
  }
  &-inputicongroup {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 7.5px;
    img {
      width: 12.5px;
      height: 12.5px;
    }
    &-devider {
      width: 1px;
      height: 10px;

      background: #c6c6c6;
      border-radius: 1px;
    }
  }
  .box {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 28.66px;
    width: 100%;
  }
  .box.hidden {
    display: block;
  }
}
.footer.changeavatar {
  .footer-container {
    &-avatar {
      display: flex;
    }
    &-input {
      display: none;
    }
  }
  .footer-inputicongroup {
    display: flex;
  }
  .footer-inputicon {
    display: none;
  }
}
textarea {
  resize: none;
  width: 160%;
  overflow: hidden;
  min-height: 10px;
  max-height: 50px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 8.7px;
  line-height: 13.8px;
  &:focus-visible {
    outline: none;
  }
}
