.texttitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 8.7px;
    line-height: 13.8px;
    img {
      width: 15px;
      height: 15px;
    }
  }
  &-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5px;
    img {
      width: 11px;
      height: 11px;
    }
  }
}
.no {
  display: flex;
}
.click {
  display: none;
}
.active.click {
  display: flex;
}
.active.no {
  display: none;
}
